/* Universal utilities */
* {
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  color: #4a4d60;
}
h4,
h5,
h5,
h6 {
  color: #4a4d60;
  font-weight: 500;
}
p {
  font-weight: 400;
  color: #8b90a2;
}
/* Unitilities end */

/* header style start */

.brand-logo {
  font-weight: 700;
  color: #4a4d60;
  font-size: 30px;
  letter-spacing: 2px;
}
.menu-icon {
  font-size: 28px;
}
.nav-item {
  margin-right: 25px;
}
.nav-item a {
  font-size: 15px;
  color: #4a4d60;
  font-weight: 550;
  border-radius: 20px;
  padding: 5px 20px;
}

.nav-link:hover {
  background-color: #4a4d60;
  color: white;
  transition: 0.3s;
}
.nav-btn {
  font-size: 15px;
  font-weight: 500;
  color: #9171d7;
  background-color: white;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.159222);
  border-radius: 50px;
}
.nav-btn:hover {
  background-color: #2d3436;
  color: white;
}
/* Navbar end */

/* Banner section start */
.banner-header {
  font-size: 50px;
}
.banner-item {
  border: 2px sold red;
}

.banner-btn {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  background: linear-gradient(270deg, #55ff8b 0%, #23e1db 70.31%);
  box-shadow: 0px 3px 12px #abf8e6;
  border-radius: 48px;
  padding: 18px 50px;
}
/* banner and header section end */

/* main section start */
.card {
  box-shadow: 0px 10px 30px #e7ecfa;
  border-radius: 15px;
  transition: 0.5s;
}
.card:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px grey;
}
.card-logo{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.notepad-icon {
  background-color: #ff518b;
  
}
.atom-icon {
  background: linear-gradient(180deg, #61caff 0%, #36afeb 100%);
}
.bell-icon {
  background-color: #ffa03a;
}
/* Card section end */

/* article section start */

.article-details h1 {
  font-size: 35px;
}
.article-details p {
  font-size: 16px;
  text-align: justify;
}
.article-btn {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  background: linear-gradient(270deg, #ffac77 0%, #fd8b94 100%);
  box-shadow: 0px 3px 12px;
  border-radius: 48px;
  padding: 18px 50px;
}
.article-img img {
  width: 430px;
  height: 490px;
}
/* Article section end */

/* customer counting section start */
.customer-counting {
  position: relative;
}
#customer-banner {
  background: linear-gradient(266.96deg, #9895fb 2.05%, #7d79fb 100.29%);
}
.counting-area {
  height: 290px;
}
.counting-area h4,
.counting-area p {
  color: white;
}
.counting-area p {
  font-size: 18px;
}
.sponsore-logos {
  position: absolute;
  left: 165px;
  top: 185px;
  z-index: 1000;
  height: 185px;
  background-color: white;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
}

/* customer counting end */

/* Marketing section start */

#marketing-section {
  margin-top: 150px;
}
.article h1 {
  font-size: 35px;
}
.article p {
  font-size: 16px;
  text-align: justify;
}
.article img {
  width: 482px;
  height: 355px;
}
/* Marketing section end */

/* Services section start */

#services {
  margin-top: 100px;
}
.text-icon{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: linear-gradient(180deg, #ff518b 0%, #eb4b80 100%);
  box-shadow: 0px 10px 25px rgba(243, 124, 167, 0.4);
}
.user-icon{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(180deg, #C6DA4F 0%, #97C64B 100%);
}
.achive-icon{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(180deg, #51C0FF 0%, #4592D9 100%);
}
.verify-icon{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(180deg, #5177FF 0%, #4E4BEB 100%);
}
.tick-icon{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(180deg, #FFA551 0%, #E66E3B 100%);

}
.clock-icon{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(180deg, #60E796 0%, #47C08D 100%);

}



@media (max-width: 575) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
}
